body {
    background-image: url("https://assets.otterbots.xyz/website/backgrounds/mainbackground.png");
    color: white;
    background-size: cover;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}